/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* *{ outline: 1px solid red;} */

.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  max-inline-size: 850px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: "wght" var(--header-font-weight), "wdth" 100,
    "opsz" 0;
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--text-color);
}

.header {
  margin: 100px auto 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border: 2px solid var(--border-color);
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  background-color: var(--logo-color);
}

.header__title {
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
  color: var(--text-color);
}

/* Логотип HTML */
.header__title-text {
  margin: 136px 120.5px 0;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--main-font-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
  color: var(--text-color);
  outline: none;
  text-decoration: none;
}

.theme-menu {
  margin: 24px 0;
}

.theme-menu__list {
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.theme-menu__button {
  padding: 0;
  position: relative;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  line-height: 14px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  transition: 0.3s ease;
  outline: none;
  border: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-color);
  height: 2px;
  bottom: 0;
  left: 0;
  right: 1px;
  transform: scaleX(0%);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transform: scaleX(100%);
}

.theme-menu__button:focus::after {
  transform: scaleX(100%);
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
  color: var(--border-color);
  transform: scaleX(100%);
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: menu-replay 0.5s infinite ease-in-out alternate-reverse;
  top: 2px;
  left: -20px;
}

.main {
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin: 0 auto 103px;
}

/* Карточки */
.cards {
  margin-bottom: 50.5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
}

.card__title {
  padding: 3.5px 10px;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: "wght" var(--header-font-weight), "wdth" 100,
    "opsz" 0;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 22px;
  color: var(--text-color);
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  height: auto;
  overflow: hidden;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  position: relative;
}

.card-image__all {
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__image-text {
  margin: 30px 22px 0 0;
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  inset-inline-end: 2px;
  position: absolute;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font), fantasy, sans-serif;
  -webkit-text-stroke: 1px var(--border-label);
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  line-height: 14px;
  mix-blend-mode: hard-light;
  z-index: 100;
  text-shadow: 1px 0 0 var(--border-label), 1px 0 0 var(--border-label),
    0 1px 0 var(--border-label), 0 1px 0 var(--border-label),
    -1px 0 0 var(--border-label), -1px 0 0 var(--border-label),
    0 -1px 0 var(--border-label), 0 -1px 0 var(--border-label);
}

@supports (
  (text-stroke: 1px var(--border-label)) or
    (-webkit-text-stroke: 1px var(--border-label))
) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--border-label);
  }
}

.card__container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__container-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: "wght" var(--main-font-weight), "wdth" 100, "opsz" 0;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 21px;
}

/* Иконки (Сердце и Лайк) в карточке */
.card__buttons {
  margin: 0 25px 25px 0;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  gap: 2px;
}

/* Кнопка сердце */
.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
}

/* Картинка сердца */
.like-icon {
  cursor: pointer;
  color: var(--text-color);
}

.sparks {
  opacity: 0;
}

/* Кнопка Like */
.card__like-button {
  /*box-sizing: border-box;*/
  padding: 10px 0;
  inline-size: 130px;
}

/* Текст кнопки Like и кнопки Сохранить на память */
.button__text {
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  line-height: 90%;
  color: var(--button-content-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__button {
  margin: auto;
  padding: 15px 20px;
  line-height: 12px;
  gap: 12px;
}

/* Иконка floppy*/
.footer__button-icon {
  max-width: 21px;
  height: auto;
  color: var(--button-content-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.settings-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color);
  transition: 0.3s ease;
  background-color: var(--bg-color);
  cursor: pointer;
}

.settings-button:focus {
  outline: none;
}

.settings-button:focus-visible {
  box-shadow: 2px 2px 0px var(--text-color);
}

/* Анимация при наведении */
.settings-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.settings-button:hover::before {
  transform: scaleX(1);
}

/* dialog */
.dialog {
  position: fixed;
  padding: 0;
  inset: 0;
  z-index: 2;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
  font-family: var(--accent-font), fantasy, sans-serif;
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-transform: uppercase;
  line-height: 150%;
  /*min-width: 357px;*/
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
}

.dialog__form {
  margin: 30px;
  padding: 0 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__button {
  margin: 0 30px 30px 30px;
  width: 293px;
  height: 38px;
  padding: 9px 0;
  outline: none;
  border: 2px solid var(--border-color);
  text-transform: uppercase;
  background-color: var(--bg-color);
  cursor: pointer;
}

.dialog__floppy {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
  justify-self: none;
}

/* Задний слой открытого окна */
.dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

/* Фильтры */
.filter__bright {
  filter: brightness(115%);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__saturate {
  filter: saturate(400%);
}

.filter__hue-rotate {
  filter: hue-rotate(30deg);
}

.filter__invert {
  filter: invert(0.8);
}
.filter__multiple {
  filter: hue-rotate(110deg) opacity(0.6) brightness(90%);
}

.filter__blur {
  filter: blur(10px);
  z-index: 0;
}

.filter__gray {
  filter: grayscale(0.8);
}

@media (width <= 375px) {
  .header {
    margin: 100px auto;
  }

  .header__title-text {
    margin: 113px 14px 0;
  }

  .header__title {
    margin: 6px auto 0;
  }

  .theme-menu {
    margin: 2px 0;
  }

  .theme-menu__list {
    margin: 18px 0 18px 19px;
    padding-left: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 51.5px;
  }

  .cards {
    margin-bottom: 0;
  }

  .card__title {
    padding: 6px 10px 4px 10px;
  }

  .card-image__all {
    inline-size: 100%;
    block-size: 100%;
  }

  .card__image-text {
    margin: 23px 12px 0 0;
  }

  .card__container {
    margin: 0;
  }

  .card__container-text {
    margin: 22px 28px 25px 26px;
    padding: 0 1px 0 0;
    gap: 25.5px;
  }

  .card__buttons {
    margin: 1px 25px 22px 0;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 309px;
    height: 84px;
    padding: 10px;
    gap: 10px;
  }

  .button__text-save {
    width: 100%;
  }

  .footer__button-icon {
    max-width: 28px;
  }

  .dialog {
    min-width: 0px;
  }

  .dialog__form {
    grid-template-columns: 0.21fr 1fr;
  }

  .dialog__floppy {
    justify-self: flex-end;
  }

  .dialog__button {
    margin: 0 30px 30px 40px;
    width: 257px;
    height: 38px;
  }
}
