/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font: "Inter-Variable";
  --main-font-weight: 400;
  --header-font-weight: 700;
  --header-card-width: 700px; /* --header-font-weight */
  --header-card-height: 323px; /* --header-font-height */
  --card-width: 696px; /* --card-font-weight */
  --last-card-width: 337px; /* --footer-font-weight */
  --accent-font: "PressStart2P-Regular";
  --bg-color: rgb(250, 250, 250);
  --bg-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0/ 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0/0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --text-color: #000000;
  --logo-color: rgb(250, 250, 250);
  --border-color: #000;
  --border-label: #fff;
  --button-content-color: #fff;
  --heart-sparks-fill: #ff0000;
  --heart-sparks-fill-transparent: rgb(255 0 0 / 0%);
  --heart-color: #000;
  --herat-core-fill: #f00;
  --herat-core-fill-transparent: rgb(255 0 0 / 0%);
  --heart-main-body-fill: #f00;
  --heart-main-body-fill-transparent: rgb(255 0 0 / 0%);
  --heart-contour-fill: #f00;
}

:root.theme-dark {
  --main-font: "Inter-Variable";
  --main-font-weight: 465;
  --header-font-weight: 785;
  --header-card-width: 700px;
  --header-card-height: 368px;
  --card-width: 696px;
  --last-card-width: 335px;
  --accent-font: "PressStart2P-Regular";
  --bg-color: #000000;
  --bg-gradient: repeating-linear-gradient(
      90deg,
      #000 0px 2px,
      rgba(0, 0, 0/ 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #000 0px 2px, rgb(0, 0, 0, 0) 2px 4px),
    linear-gradient(180deg, #007f0c 0%, #004306 100%);
  --text-color: #00cc14;
  --logo-color: #000000;
  --border-color: #00cc14;
  --border-label: #000;
  --button-content-color: #00cc14;
  --heart-sparks-fill: #ff0000;
  --heart-sparks-fill-transparent: rgb(255 0 0 / 0%);
  --heart-color: #00cc14;
  --herat-core-fill: #f00;
  --herat-core-fill-transparent: rgb(255 0 0 / 0%);
  --heart-main-body-fill: #f00;
  --heart-main-body-fill-transparent: rgb(255 0 0 / 0%);
  --heart-contour-fill: #f00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font: "Inter-Variable";
    --main-font-weight: 465;
    --header-font-weight: 785;
    --header-card-width: 700px;
    --header-card-height: 368px;
    --card-width: 696px;
    --last-card-width: 335px;
    --accent-font: "PressStart2P-Regular";
    --bg-color: #000000;
    --bg-gradient: repeating-linear-gradient(
        90deg,
        #000 0px 2px,
        rgba(0, 0, 0/ 0) 2px 4px
      ),
      repeating-linear-gradient(180deg, #000 0px 2px, rgb(0, 0, 0, 0) 2px 4px),
      linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --text-color: #00cc14;
    --logo-color: #000000;
    --border-color: #00cc14;
    --border-label: #000;
    --button-content-color: #00cc14;
    --heart-sparks-fill: #ff0000;
    --heart-sparks-fill-transparent: rgb(255 0 0 / 0%);
    --heart-color: #00cc14;
    --herat-core-fill: #f00;
    --herat-core-fill-transparent: rgb(255 0 0 / 0%);
    --heart-main-body-fill: #f00;
    --heart-main-body-fill-transparent: rgb(255 0 0 / 0%);
    --heart-contour-fill: #f00;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "Inter-Variable";
    --main-font-weight: 400;
    --header-font-weight: 700;
    --header-card-width: 700px;
    --header-card-height: 364px;
    --card-width: 696px;
    --last-card-width: 335px;
    --accent-font: "PressStart2P-Regular";
    --bg-color: rgb(250, 250, 250);
    --bg-gradient: repeating-linear-gradient(
        90deg,
        #d3d3d3 0 2px,
        rgb(0 0 0/ 0) 2px 4px
      ),
      repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0/0) 2px 4px),
      linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --text-color: #000000;
    --logo-color: rgb(250, 250, 250);
    --border-color: #000;
    --border-label: #fff;
    --button-content-color: #fff;
    --heart-sparks-fill: #f00;
    --heart-sparks-fill-transparent: rgb(255 0 0 / 0%);
    --heart-color: #000;
    --herat-core-fill: #f00;
    --herat-core-fill-transparent: rgb(255 0 0 / 0%);
    --heart-main-body-fill: #f00;
    --heart-main-body-fill-transparent: rgb(255 0 0 / 0%);
    --heart-contour-fill: #f00;
  }
}
